Package: io.smacpats.spotifyadblock
Name: SpotifyAdBlock
Version: 1.0
Architecture: iphoneos-arm
Conflicts: com.thireus.untrustedhostsblockerexperimental, com.reddestdream.minimalhostsblocker, com.thireus.untrustedhostsblockerlight, com.thireus.untrustedhostsblocker, com.myrepospace.reddestdream.minimal, com.myrepospace.basic.basic
Description: spotify adblock.
Maintainer: Smacpats
Author: Smacpats <reddestdream@gmail.com>
Section: Tweaks
